@inherits System.Web.Mvc.WebViewPage
@using Sitecore.Data.Items
@using Sitemap.XML.Models
@{
    var root = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.StartPath);
    <div class="sitemap">
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(root)">@root["title"]</a>
        @RecursiveSitemap(root)
    </div>
}

@helper RecursiveSitemap(Item parentItem)
{
    <ul>
        @{
            if (SitemapManager.IsShared(parentItem))
            {
                parentItem = SitemapManager.GetSharedParent(parentItem);
            }
            Sitecore.Collections.ChildList childList = parentItem.Children;
            foreach (Item child in childList)
            {
                var localChild = child;
                if (SitemapManager.IsEnabledTemplate(localChild) && !SitemapManager.IsDisabledItem(localChild))
                {
                    <li><a href="@Sitecore.Links.LinkManager.GetItemUrl(localChild)">@localChild["title"]</a></li>
                }
                if (SitemapManager.IsShared(localChild))
                {
                    localChild = SitemapManager.GetSharedParent(localChild);
                }
                if (localChild.Children.Count != 0)
                {
                    @RecursiveSitemap(localChild);
                }
            }
        }
    </ul>
}